<div class="row" >
    <div class="col-xs-6 col-sm-5 col-md-4 col-xs-offset-3 col-md-offset-4">
        <form role="form" ng-submit="login(user)">
            <div class="form-group">
                <label for="userName">User</label>
                <input class="form-control" id="userName" placeholder="User Name" ng-model="user.username"
                       type="text" required>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="user.password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
