<div class="row margin-top search-results">
    <div class="col-xs-4 col-xs-offset-4" ng-hide="places.length>0">
        <h1>{{displayMessage}}</h1>
    </div>
    <div class="col-xs-4 col-lg-5 padding0" ng-show="places.length>0">
        <ul class="list-group" >
           <li class="list-group-item  padding0 {{item.active}}"  ng-repeat="item in places">
               <div id="{{item.id}}" class="row" ng-class="item.active" ng-click="$parent.highLightMarker(item.id)">
                   <div class="col-xs-12 padding20 col-md-9 col-md-offset-1">
                       <h4>{{$index+1}}.{{item.name}}</h4>
                       <p>{{item.add}}</p>
                   </div>
               </div>
           </li>
        </ul>
        <pager total-items="100" items-per-page="10" ng-model="currentPage" ng-change="pageChange()"></pager>
    </div>
    <div class="col-xs-7 fixAffixHeight padding0" ng-show="places.length>0">
        <div class="affix">
            <google-map center="map.center" zoom="map.zoom" draggable="true" control="map.control">
                <markers models="map.markers" coords="'self'" icon="'icon'"
                         click="map.events.click">
                         </markers>
            </google-map>
        </div>
    </div>
    
</div>
